.dropdown-radius {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-text {
  background-color: transparent;
  cursor: pointer;
}

.btn-light {
  &:not(:disabled) {
    background-color: #e5e2ff;
    color: #7668ED;

    &:hover {
      background-color: #cfcbf2;
      color: #7668ED;
    }
  }
}
