<ng-template [ngIf]="!error && nodeStats">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          Average Latency (ms)
        </div>
        <div class="card-text">
          {{ nodeStats[0].avg_latency_ms }}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          Rate (rpc/s)
        </div>
        <div class="card-text">
          {{ nodeStats[0].avg_rate_sec }}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          Input (KB/s)
        </div>
        <div class="card-text">
          {{ nodeStats[0].avg_input_kbs }}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          Output (KB/s)
        </div>
        <div class="card-text">
          {{ nodeStats[0].avg_output_kbs }}
        </div>
      </div>
    </div>
  </div>
</ng-template>
<table>
  <thead>
    <tr>
      <th>Node</th>
      <th>Sessions</th>
      <th>Presences</th>
      <th>Authoritative Matches</th>
      <th>Goroutines</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let node of nodeStats">
      <td>{{ node.name }}</td>
      <td>{{ node.session_count }}</td>
      <td>{{ node.presence_count }}</td>
      <td>{{ node.match_count }}</td>
      <td>{{ node.goroutine_count }}</td>
    </tr>
  </tbody>
</table>
<div class="graph-container">
  <div class="graph">
    <ngx-charts-line-chart
      *ngIf="plotDataLatency && plotDataLatency.length > 0"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [timeline]="timeline"
      [autoScale]="autoScale"
      [xAxis]="true"
      [yAxis]="true"
      xAxisLabel="Timestamp"
      [results]="plotDataLatency">
    </ngx-charts-line-chart>
  </div>
  <div class="graph">
    <ngx-charts-line-chart
      *ngIf="plotDataRate && plotDataRate.length > 0"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [timeline]="timeline"
      [autoScale]="autoScale"
      [xAxis]="true"
      [yAxis]="true"
      xAxisLabel="Timestamp"
      [results]="plotDataRate">
    </ngx-charts-line-chart>
  </div>
  <div class="graph">
    <ngx-charts-line-chart
      *ngIf="plotDataInput && plotDataOutput.length > 0"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [timeline]="timeline"
      [autoScale]="autoScale"
      [xAxis]="true"
      [yAxis]="true"
      xAxisLabel="Timestamp"
      [results]="plotDataInput">
    </ngx-charts-line-chart>
  </div>
  <div class="graph">
    <ngx-charts-line-chart
      *ngIf="plotDataOutput && plotDataOutput.length > 0"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [timeline]="timeline"
      [autoScale]="autoScale"
      [xAxis]="true"
      [yAxis]="true"
      xAxisLabel="Timestamp"
      [results]="plotDataOutput">
    </ngx-charts-line-chart>
  </div>
</div>
