.input-group-text {
  background-color: transparent;
  cursor: pointer;
}

.table-hover {
  cursor: pointer;
}

.dropdown-radius-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.open-row {
	background: #FAFAFC;
}
