<form [formGroup]="filterUsersForm" (ngSubmit)="filterUsers()">
  <div class="input-group row">
    <label>~{{ users_num }} users</label>
    <input class="form-control" type="text" id="filter" formControlName="filter">
    <div class="input-group-append">
      <label>Banned</label>
      <input type="checkbox" aria-label="select banned users" formControlName="banned">
      <label>Tombstones</label>
      <input type="checkbox" aria-label="select tombstones" formControlName="tombstones">
      <button type="submit">Filter</button>
			<button (click)="deleteAllUsers()">Delete All</button>
    </div>
  </div>
</form>

<ng-template [ngIf]="!error && users">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Display Name</th>
        <th>Update Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.display_name }}</td>
        <td>{{ user.update_time }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>
