<div *ngIf="error" class="bg-grad d-flex h-100">
  <div class="align-self-center mx-auto">
    <h1 class="text-center mb-4">
      <img src="/assets/svg/logo.svg" alt="Nakama Logo" width="175" height="">
    </h1>
    <div class="card">
      <div *ngIf="error" class="card-body">
        <p>An error occurred whole loading the console. Please refresh the page to try again.</p>
        <p>{{error}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="!error">
  <div class="row">

    <!-- sidebar -->
    <nav #sidenav="ngbNav" ngbNav (navChange)="onSidebarNavChange($event)"
         class="col-md-2 d-none d-md-block sidebar position-fixed px-0">
      <div class="flex-column text-uppercase">
        <ng-container [ngbNavItem]="'logo'">
          <a [routerLink]="['/']">
            <img class="mx-3 mt-3 mb-1" src="/assets/svg/logo.svg" alt="" width="175" height="">
          </a>
        </ng-container>
        <hr>
        <ng-container [ngbNavItem]="'status'">
          <a ngbNavLink routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/status']">Status</a>
        </ng-container>
        <ng-container [ngbNavItem]="'users'">
          <a ngbNavLink routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/users']">User Management</a>
        </ng-container>
        <ng-container [ngbNavItem]="'config'">
          <a ngbNavLink routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/config']">Configuration</a>
        </ng-container>
        <ng-container [ngbNavItem]="'modules'">
          <a ngbNavLink routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/modules']">Runtime Modules</a>
        </ng-container>
        <hr />
        <ng-container [ngbNavItem]="'accounts'">
          <a ngbNavLink routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/accounts']">Accounts</a>
        </ng-container>
        <ng-container [ngbNavItem]="'storage'">
          <a ngbNavLink routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/storage']">Storage</a>
        </ng-container>
        <ng-container [ngbNavItem]="'matches'">
          <a ngbNavLink routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/matches']">Running Matches</a>
        </ng-container>
        <ng-container [ngbNavItem]="'leaderboards'">
          <a ngbNavLink routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/leaderboards']">Leaderboards</a>
        </ng-container>
        <ng-container [ngbNavItem]="'apiexplorer'">
          <a ngbNavLink routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/apiexplorer']">API Explorer</a>
        </ng-container>
        <hr />
        <a class="nav-link" href="https://heroiclabs.com/docs" target="_blank">Documentation</a>
        <a class="nav-link" href="https://forum.heroiclabs.com" target="_blank">Forums</a>
        <hr />
        <ng-container [ngbNavItem]="'logout'">
          <a ngbNavLink routerLinkActive="active" [routerLink]="['/login']" (click)="logout()">Logout</a>
        </ng-container>
      </div>
    </nav>
    <!-- main content -->
    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4 py-4">
      <div *ngIf="loading" class="loading mx-auto">
        <img src="/assets/spinner.svg" class="p-1 loading">
      </div>
      <router-outlet *ngIf="!loading"></router-outlet>
    </main>
  </div>
</div>
