.pre-wrap {
  word-wrap: anywhere;
  word-break: break-all;
  white-space: pre-wrap;
}

.open-row {
	background: #FAFAFC;
}

.w-33{width:33.3333%!important}

.dropdown-radius-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-radius-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
