<ngb-alert type="danger" *ngIf="error">
  <img src="/assets/svg/red-triangle.svg" alt="" width="16" height="" class="mr-2">
  <h6 class="mr-2 d-inline font-weight-bold">Failed to retrieve runtime information.</h6>
</ngb-alert>

<h2 class="pb-4">Runtime Modules</h2>

<table class="table table-sm table-bordered table-striped mb-5">
  <thead class="thead-light">
    <tr>
      <th>Go Modules</th>
      <th>Last Modified</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of runtimeInfo.go_modules"><td>{{m.path}}</td><td>{{m.mod_time}}</td></tr>
    <tr *ngIf="runtimeInfo.go_modules.length === 0"><td class="text-muted">No Go modules were found.</td><td></td></tr>
  </tbody>
  <thead class="thead-light">
    <tr><th>Lua Modules</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of runtimeInfo.lua_modules"><td>{{m.path}}</td><td>{{m.mod_time}}</td></tr>
    <tr *ngIf="runtimeInfo.lua_modules.length === 0"><td class="text-muted">No Lua modules were found.</td><td></td></tr>
  </tbody>
  <thead class="thead-light">
    <tr><th>JavaScript Modules</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of runtimeInfo.js_modules"><td>{{m.path}}</td><td>{{m.mod_time}}</td></tr>
    <tr *ngIf="runtimeInfo.js_modules.length === 0"><td class="text-muted">No JavaScript modules were found.</td><td></td></tr>
  </tbody>
</table>

<h4 class="pb-4">Registered RPC Functions</h4>

<table class="table table-sm table-bordered table-striped mb-5">
  <thead class="thead-light">
    <tr><th colspan="2">Go RPC Functions</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of runtimeInfo.go_rpc_functions">
      <td><code>{{m}}</code></td>
      <td><button class="btn btn-sm btn-primary">API Explorer</button></td>
    </tr>
    <tr *ngIf="runtimeInfo.go_rpc_functions.length === 0"><td colspan="2" class="text-muted">No Go RPC functions were found.</td></tr>
  </tbody>
  <thead class="thead-light">
    <tr><th colspan="2">Lua RPC Functions</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of runtimeInfo.lua_rpc_functions">
      <td><code>{{m}}</code></td>
      <td><button class="btn btn-sm btn-primary">API Explorer</button></td>
    </tr>
    <tr *ngIf="runtimeInfo.lua_rpc_functions.length === 0"><td colspan="2" class="text-muted">No Lua RPC functions were found.</td></tr>
  </tbody>
  <thead class="thead-light">
    <tr><th colspan="2">JavaScript RPC Functions</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of runtimeInfo.js_rpc_functions">
      <td><code>{{m}}</code></td>
      <td><button class="btn btn-sm btn-primary">API Explorer</button></td>
    </tr>
    <tr *ngIf="runtimeInfo.js_rpc_functions.length === 0"><td colspan="2" class="text-muted">No JavaScript RPC functions were found.</td></tr>
  </tbody>
</table>
